@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
  font-family: 'Montserrat', sans-serif;
}

.jumbotron{
  background-color: transparent !important;
}

.box{
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 10%;
  position: sticky;
}
